/*******************************/
/* CODE VOOR HET EERSTE BLOKJE */
/*******************************/
@font-face {
  font-family: "Black Han";
  src: url("../fonts/BlackHan.ttf");
  font-weight: 700;
}

li:nth-of-type(1) {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

li:nth-of-type(1) h2 {
  font-family: "Black Han";
  color: grey;
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 4px 4px 5px #0009;
}

/*******************************/
/* CODE VOOR HET TWEEDE BLOKJE */
/*******************************/
@font-face {
  font-family: "Saira";
  src: url("../fonts/Saira-Bold.ttf");
  font-weight: 700;
}

li:nth-of-type(2) {
  background-color: #19196b;
  display: grid;
  grid-auto-columns: min-content;
  place-content: center;
  text-align: center;
}

li:nth-of-type(2) h2 {
  font-family: "Saira";
  color: white;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0.2rem;

  text-shadow: -3px -3px 0px aqua, 3px -3px 0px #ff00ff, 3px 3px 0px yellow,
    -3px 3px 0px black;
}

/******************************/
/* CODE VOOR HET DERDE BLOKJE */
/******************************/
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Bold.ttf");
  font-weight: 700;
}

li:nth-of-type(3) {
  order: -1;
  background: linear-gradient(#d4bfd5, #cd7793);
  display: grid;
  grid-auto-columns: min-content;
  place-content: center;
}

li:nth-of-type(3) h2 {
  font-family: "Ubuntu";
  color: white;
  text-transform: uppercase;
  background-color: black;
  padding: 1.2em 0.7em 1.2em 0.7em;
  box-shadow: inset 0 0 0 0.5em white, 0 0 0 0.2em #5f3694;
  border-radius: 0.25rem 1.25rem 0.25rem 0.25rem;
  corner-shape: round scoop round round;
}

li:nth-of-type(3) h2::first-line {
  font-weight: 300;
}

/******************************/
/* CODE VOOR HET VIERDE BLOKJE */
/******************************/

/******************************/
/* CODE VOOR HET VIJFDE BLOKJE */
/******************************/

/******************************/
/* CODE VOOR HET ZESDE BLOKJE */
/******************************/
